<header>
  <li>
    <a href="/">Home</a>
</li>
<li>
    <a href="/api">Countries</a>
</li>
<li>
    <a href="/in">India</a>
</li>
<li>
    <a href="/jp">Japan</a>
</li>
<li>
    <a href="/us">USA</a>
</li>
<li>
    <a href="/avg-gdp">GDP Per Capita</a> 
</li>
</header>